*{
    margin: 0%;
    padding: 0%;
}
body{
    background: pink;
}
#small{
    width: 40%;
    margin-top: 5px;
    margin: auto;
}
#head{
    background: black;
    color: white;
}
.headermain{
    width: 80%;
    background: black;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-align: center;
    padding: 12px;
    border-bottom: 2px solid coral;
    margin-bottom: 50px;
}
table{
    width: 40%;
    text-align: center;
    margin: auto;
    background: yellow;
}
#btn{
    margin-left: 140px;
    padding: 4px 12px;
}